<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ilo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>17</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3FBD506D5351B9925B4476E9847AE37E46FB08A7</string>
				<key>dateExpires</key>
				<string>28/08/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FBD506D5351B9925B4476E9847AE37E46FB08A7</string>
						<key>dateExpires</key>
						<string>28/08/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5L22ZZ8D6</string>
						<key>name</key>
						<string>Mohammed Asimkhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FBD506D5351B9925B4476E9847AE37E46FB08A7</string>
						<key>dateExpires</key>
						<string>28/08/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5L22ZZ8D6</string>
						<key>name</key>
						<string>Mohammed Asimkhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FBD506D5351B9925B4476E9847AE37E46FB08A7</string>
						<key>dateExpires</key>
						<string>28/08/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5L22ZZ8D6</string>
						<key>name</key>
						<string>Mohammed Asimkhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FBD506D5351B9925B4476E9847AE37E46FB08A7</string>
						<key>dateExpires</key>
						<string>28/08/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5L22ZZ8D6</string>
						<key>name</key>
						<string>Mohammed Asimkhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FBD506D5351B9925B4476E9847AE37E46FB08A7</string>
						<key>dateExpires</key>
						<string>28/08/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5L22ZZ8D6</string>
						<key>name</key>
						<string>Mohammed Asimkhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3FBD506D5351B9925B4476E9847AE37E46FB08A7</string>
						<key>dateExpires</key>
						<string>28/08/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>V5L22ZZ8D6.com.ilo.ios.OneSignalNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>V5L22ZZ8D6</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.ilo.ios.onesignal</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>fefe0ed7-c688-4221-87f4-6bd201956a41</string>
						<key>dateExpires</key>
						<string>28/08/26</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.ilo.ios.OneSignalNotificationServiceExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V5L22ZZ8D6</string>
						<key>name</key>
						<string>Mohammed Asimkhan</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V5L22ZZ8D6.com.ilo.ios</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>V5L22ZZ8D6</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.ilo.ios.onesignal</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Ilo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5fb31d32-2fac-4410-8a3f-ff08845046a5</string>
				<key>dateExpires</key>
				<string>28/08/26</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ilo.ios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V5L22ZZ8D6</string>
				<key>name</key>
				<string>Mohammed Asimkhan</string>
			</dict>
			<key>versionNumber</key>
			<string>17</string>
		</dict>
	</array>
</dict>
</plist>
